body {
  background-color: rgba(181, 192, 189, 0.267);
}

a{
  text-decoration:none !important;
  color:black;
}

.HeaderMain {
  width: 100vw;
  height: 85px;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  position: fixed;
  top: 0px;
}

.logo {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 90%;
  margin-left: 50px;
}

.HeaderAtt {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  padding-right: 50px;
}



.HeaderAtt div h5 {
  font-size: 18px !important;
  font-weight: 600;
  border-bottom: none !important;
  margin-top: 20px;
}

a:hover{
  color: teal;
}
