.shimmerMain {
  width: 80%;
  height: 800px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 250px;
  gap:30px;

}

.shimmerUi{
background-color: white;
height:350px;
width:96%;
border-radius: 30px;
}
