body{

  background-image: url(C:\Users\KPK\Downloads\bitcoin-2007769_1280.jpg);
 
}


.App {
  text-align: center;
 
}

.question--- {
  display: flex;
  width: 400px;
  margin: auto;
  justify-content: space-around;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(4, 126, 126);
  border-radius: 20px;
  margin-bottom: 10px;
}

.answer {
  display: grid;
  width: 400px;
  margin: auto;
  gap: 15px;
}

.answer button{

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  color:black;
  border-radius:10px;
  padding:8px;
  font-weight: bold;
  cursor:pointer;
  border: none;
}

.answer button:hover{

 background-color: rgb(0, 0, 255);
}




#result{

  background-color: blue;
  width: 400px;
  margin:auto;
  padding:15px;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 40px;  
}

#reset{

  padding: 5px; 
  color: white;
  background-Color: green; 
  font-size: 20px; 
  border: none;
  cursor: pointer;

}
