
body {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  .searchinput{position: relative;}
  
  .seachboxdiv {
    z-index: 9;
    position: absolute;
    background: #fff;
    width: 365px;
    box-shadow: 0 5px 10px 0 rgba(55, 94, 246, 0.2);
    left: 0;
    top: 70px;
  }
  
  .seachboxdiv label.suggetion {
    margin: 0;
    color: #fff;
    background-color: #d94d95;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
  
  .seachboxdiv .autocompletelist {
    max-height: 400px;
    overflow: auto;
  }
  
  .seachboxdiv .autocompletelist li {
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 7px;
    /* background: url(../../../../public/assets/images/home/map.svg) no-repeat 10px center; */
    text-transform: capitalize;
    border-bottom: 1px solid #d6d6d6;
    font-size: 13px;
    cursor: pointer;
    line-height: 15px;
    color: black;
    font-size: 14px;
  }
  
  .seachboxdiv .autocompletelist li span {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    color: #000;
    font-size: 12px;
    display: block;
    box-shadow: unset;
  }