.App {
  text-align: center;
}

#nav{
background-color: rgb(5, 80, 80);
padding: 20px;
margin-top:0px;
text-align: center;
display: flex;
justify-content: space-around;
color: white;

}
 #nav h1{
  cursor: pointer;
 color:white;
 
 }

 #nav h1:hover{
  color:black;
 }